In [1]:
pip install lxml

Collecting lxml
  Downloading lxml-4.9.2-cp310-cp310-manylinux_2_17_x86_64.manylinux2014_x86_64.manylinux_2_24_x86_64.whl (7.1 MB)
     ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 7.1/7.1 MB 36.0 MB/s eta 0:00:0000:0100:01
Installing collected packages: lxml
Successfully installed lxml-4.9.2
Note: you may need to restart the kernel to use updated packages.

In [2]:
import lxml
import pandas as pd

In [3]:
# 1)
pd.Series([4, 8, 15, 16, 23, 42])

0     4
1     8
2    15
3    16
4    23
5    42
dtype: int64

In [4]:
# 2)
listnew=[]
for i in range(10):
    listnew.append(i)
    
pd.Series(listnew)

0    0
1    1
2    2
3    3
4    4
5    5
6    6
7    7
8    8
9    9
dtype: int64

In [5]:
# 3)
data = {'Name':['Alice', 'Bob', 'Claire'],
        'Age':[25,30,27],
        'Gender':['Female','Male','Female']}
newdataframe=pd.DataFrame.from_dict(data)

newdataframe

     Name  Age  Gender
0   Alice   25  Female
1     Bob   30    Male
2  Claire   27  Female

In [6]:
# 4) Pandas dataframe is 2d array while series is 1d array. 
# Dataframe is list of series, while series is similar to list with index
listnewseries=pd.Series(listnew)

In [7]:
# 4) 
mydict={ "A":list(listnewseries)}
myDF=pd.DataFrame(mydict)
myDF

   A
0  0
1  1
2  2
3  3
4  4
5  5
6  6
7  7
8  8
9  9

In [8]:
""" 5) a) clear - used to clear Dataframe
        b) copy- uses shallow copy to copy another dataframe
        c) fromkeys - Create a new dictionary with keys from iterable and values set to value.
        d) pop-If the key is not found, remove and return the default if given
        e) popitem- Remove and return a (key, value) pair as a 2-tuple.Pairs are returned in LIFO (last-in, first-out) order.
"""
myDF.pop

<bound method DataFrame.pop of    A
0  0
1  1
2  2
3  3
4  4
5  5
6  6
7  7
8  8
9  9>

 6) Series- Immutable
 DataFrame- Mutable
 Panel- Mutable

In [9]:
# 7) 
mynewdict={"A":list(listnewseries),"B":list(listnewseries),"C":list(listnewseries)}
mynewDF=pd.DataFrame.from_dict(mynewdict)
type(mynewDF)

pandas.core.frame.DataFrame